<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kubg.mappers.adminMapper">
    
	<!-- 카테고리 호출 -->
	<select id="category" resultType="com.kubg.domain.CategoryVO">
		select
			level, cateName, cateCode, cateCodeRef
		from goods_category
	    	start with cateCodeRef is null connect by prior cateCode = cateCodeRef
	</select>

	<!-- 상품 등록 -->
	<insert id="register">
		insert into tbl_goods (gdsNum, gdsName, cateCode, gdsPrice, gdsStock, gdsDes)
	   		values (tbl_goods_seq.nextval, #{gdsName}, #{cateCode}, #{gdsPrice}, #{gdsStock}, #{gdsDes})
	</insert>


</mapper>
