<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kubg.mappers.memberMapper">
    
<!-- 회원 가입 -->
<insert id="signup">
	insert into tbl_member(userId, userPass, userName, userPhon)
		values(#{userId}, #{userPass}, #{userName}, #{userPhon})  
</insert>

<!-- 로그인 -->
<select id="signin" resultType="com.kubg.domain.MemberVO">
	select
	    userId, userName, userPass, userPhon, userAddr1, userAddr2, userAddr3, regiDate, verify
	from
	    tbl_member
	where userId = #{userId}
</select>

</mapper>
